section.chat
  .container
    .row
      .col-xs-12
        h1= title
    .row
      .col-xs-12
        h2 mensajes: 
          b= nickname
        .mensajes  
          p.message-container(ng-repeat="msg in messages")
            b {{msg.author}} dice: 
            {{msg.message}}
    .footer.navbar-fixed-bottom
      form#form-chat.form-inline
        .input-group.col-xs-12
          input.input-lg.form-control(type="text", id="text", placeholder="Mensaje", autocomplete="off")
          .input-group-btn
            button#enviar.btn.btn-default.btn-lg.btn-success
              span.glyphicon.glyphicon-send






